@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html[data-theme="dark"]{
	--primary-bg:#020617;
	--secondary-bg:#0f172a;
	--primary-fg:#e2e8f0;
	--secondary-fg:#64748b;
	--highlight:#06b6d4;
	--divider:#1e293b;
}

html[data-theme="light"]{
	--primary-bg:#f1f5f9;
	--secondary-bg:#cbd5e1;
	--primary-fg:#111827;
	--secondary-fg:#374151;
	--highlight:#06b6d4;
	--divider:#6b7280;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	display: inline-block;
	border-top: 4px solid #FFF;
	border-right: 4px solid transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
  }
  .loader::after {
	content: '';  
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border-left: 4px solid #FF3D00;
	border-bottom: 4px solid transparent;
	animation: rotation 0.5s linear infinite reverse;
  }

  @keyframes rotation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  } 